button {
  background-color: #7469b6;
  padding: 6px;
  border: none;
  border-radius: 6px;
  color: #ffe6e6;
  font-weight: 500;

  &:hover {
    background-color: #ffe6e6;
    color: #7469b6;
  }
}
