code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* colors */
  --primary: #eadfc9;
  --text-primary: #1d1b14;
}

body {
  margin: 0;
  background-color: var(--primary);
}
